@import url("https://fonts.googleapis.com/css2?family=Habibi&family=Marko+One&display=swap");

body {
  font-family: "Habibi", serif;
  background-color: #a1d6a0;
  margin: 0;
  padding: 1rem;
  color: #000;
}

h2 {
  font-family: "Marko One", serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 1rem;
}

h4 {
  font-family: "Marko One", serif;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.Contenido {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Encabezado p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin: 0 0 1rem 0;
}

.Actividades {
  background-color: #d9f1ff;
  padding: 1rem;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 1rem;
}

.Progreso {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
}

.Progreso a {
  font-size: 14px;
  color: #5a90c5;
  text-decoration: none;
}

.Progreso a:hover {
  text-decoration: underline;
}

.Video {
  background-color: #e0f5dc;
  height: 150px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

button,
buttom {
  background-color: #5a90c5;
  color: black;
  font-family: "Habibi", serif;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
}

button:hover,
buttom:hover {
  background-color: #4178ad;
}

.Lecciones {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leccion p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}
.valoracion-curso {
  background-color: #fdfce5;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.valoracion-curso h3 {
  font-size: 1.4rem;
  color: #4d4d4d;
  margin-bottom: 1rem;
}

.estrellas span {
  font-size: 2rem;
  cursor: pointer;
  color: #ccc;
}

.estrellas span:hover,
.estrellas span.hovered {
  color: #f5b301;
}

.valoracion-curso textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

.boton-valorar {
  background-color: #66cdaa;
  color: white;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.boton-valorar:hover {
  background-color: #57b899;
}
